:root {
  --hdm-color-inverse-primary: #ffb4aa;
  --hdm-color-on-tertiary-fixed-variant: #004788;
  --hdm-color-primary-fixed-dim: #ffb4aa;
  --hdm-color-primary: #b5000b;
  --hdm-color-on-primary-fixed-variant: #930007;
  --hdm-color-surface-tint: #c0000c;
  --hdm-color-on-background: #1a1c1d;
  --hdm-color-tertiary-container: #0071d4;
  --hdm-color-surface-bright: #f9f9fa;
  --hdm-color-on-secondary: #ffffff;
  --hdm-color-tertiary-fixed: #d5e3ff;
  --hdm-color-on-primary-fixed: #410001;
  --hdm-color-surface-container-high: #e8e8e9;
  --hdm-color-secondary-fixed: #ffdad5;
  --hdm-color-secondary-fixed-dim: #ffb4aa;
  --hdm-color-surface-container-low: #f3f3f4;
  --hdm-color-tertiary-fixed-dim: #a7c8ff;
  --hdm-color-surface-container-highest: #e2e2e3;
  --hdm-color-on-tertiary-container: #f5f7ff;
  --hdm-color-on-secondary-fixed-variant: #8e1210;
  --hdm-color-primary-fixed: #ffdad5;
  --hdm-color-error-container: #ffdad6;
  --hdm-color-surface-variant: #e2e2e3;
  --hdm-color-secondary: #b02d25;
  --hdm-color-on-secondary-container: #650003;
  --hdm-color-surface-dim: #d9dadb;
  --hdm-color-tertiary: #0059a8;
  --hdm-color-surface-container-lowest: #ffffff;
  --hdm-color-on-primary: #ffffff;
  --hdm-color-on-surface: #1a1c1d;
  --hdm-color-error: #ba1a1a;
  --hdm-color-on-tertiary: #ffffff;
  --hdm-color-secondary-container: #fc6455;
  --hdm-color-surface-container: #edeeef;
  --hdm-color-outline-variant: #e9bcb6;
  --hdm-color-on-secondary-fixed: #410001;
  --hdm-color-on-primary-container: #fff5f3;
  --hdm-color-inverse-surface: #2f3132;
  --hdm-color-surface: #f9f9fa;
  --hdm-color-on-error-container: #93000a;
  --hdm-color-on-error: #ffffff;
  --hdm-color-inverse-on-surface: #f0f1f1;
  --hdm-color-background: #f9f9fa;
  --hdm-color-on-surface-variant: #5e3f3b;
  --hdm-color-primary-container: #e30613;
  --hdm-color-outline: #936e69;
  --hdm-color-on-tertiary-fixed: #001b3c;

  --hdm-radius-lg: 0.5rem;
  --hdm-radius-xl: 0.75rem;
  --hdm-radius-2xl: 1rem;
  --hdm-radius-3xl: 1.5rem;
  --hdm-radius-full: 9999px;

  --hdm-font-headline: "Plus Jakarta Sans", sans-serif;
  --hdm-font-display: "Plus Jakarta Sans", sans-serif;
  --hdm-font-body: "Inter", sans-serif;
  --hdm-font-label: "Inter", sans-serif;
  --hdm-font-inter: "Inter", sans-serif;
  --hdm-font-manrope: "Manrope", sans-serif;
}
